<form [formGroup]="form" (ngSubmit)="onSubmit()">



  <div class="form-row">
    <div class="form-group col-md-4">
      <label>P/N：</label>
      <input formControlName="txt_pn" type="text" class="form-control">
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Model：</label>
      <input formControlName="txt_model" type="text" class="form-control">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label>入庫日期(起)：</label>
      <app-datepicker-popup #txt_sd_boxin></app-datepicker-popup>
    </div>


    <div class="form-group col-md-3">
      <label>入庫日期(訖)：</label>
      <app-datepicker-popup #txt_ed_boxin
                            [setToday]=true></app-datepicker-popup>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label>取出日期(起)：</label>
      <app-datepicker-popup #txt_sd_boxout></app-datepicker-popup>
    </div>


    <div class="form-group col-md-3">
      <label>取出日期(訖)：</label>
      <app-datepicker-popup #txt_ed_boxout></app-datepicker-popup>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label>庫房：</label>
      <div class="form-check" *ngFor="let location of locations">
        <input class="form-check-input" type="checkbox" value={{location.id}} (change)="onCheckBoxChange($event, 'ckb_list_location')" [checked]="location.checked">
        <label class="form-check-label">
          {{location.name}}
        </label>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label>機台選項：</label>
      <input formControlName ="all_ckb_list_option" type="checkbox" (change)="onAllCheckBoxChange($event, 'ckb_list_option')">
      <div class="form-check" *ngFor="let option of options">
        <input class="form-check-input" type="checkbox" value={{option.id}} (change)="onCheckBoxChange($event, 'ckb_list_option')" [checked]="option.checked">
        <label class="form-check-label">
          {{option.name}}
        </label>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label>樣式選項：</label>
      <div class="form-check" *ngFor="let style of styles">
        <input class="form-check-input" type="checkbox" value={{style.id}} (change)="onCheckBoxChange($event, 'ckb_list_style')"  [checked]="style.checked">
        <label class="form-check-label">
          {{style.name}}
        </label>
      </div>
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label>機台狀態：</label>
      <div class="form-check" *ngFor="let status of statuses">
        <input class="form-check-input" type="checkbox" value={{status.id}} (change)="onCheckBoxChange($event, 'ckb_list_status')" [checked]="status.checked" >
        <label class="form-check-label">
          {{status.name}}
        </label>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label>暫存區狀態：</label>
      <div class="form-check" *ngFor="let buffer_area of bufferAreas">
        <input class="form-check-input" type="checkbox" value={{buffer_area.id}} (change)="onCheckBoxChange($event, 'ckb_list_bufferArea')" [checked]="buffer_area.checked">
        <label class="form-check-label">
          {{buffer_area.name}}
        </label>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-4 col-md-4 ">
      <button type="submit" class="btn btn-primary">查詢資料</button>
    </div>

    <div class="form-group col-4 col-md-4 ">
      <button type="button" class="btn btn-primary" (click)="queryFavorites();">查詢暫存</button>
    </div>
  </div>

</form>

<app-loader [loader]="isLoading"></app-loader>
