<div class="modal-header my-modal-header">
  <h4 class="modal-title">機台裝箱</h4>
</div>

<div class="modal-body">
  <div class="container container-width-max">
    <div id="temp-table" class="table-responsive">
      <table mat-table #table [dataSource]="dataSource" class="table table-hover">
        <!-- Serial No Column -->
        <ng-container matColumnDef="SerialNo" [sticky]="true">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>


        <!-- Checkbox Column -->
        <ng-container matColumnDef="select"  [sticky]="true">
          <th mat-header-cell *matHeaderCellDef>
            {{selectType}}
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="PartNumber" [sticky]="true">
          <th mat-header-cell *matHeaderCellDef> 料號 </th>
          <td mat-cell *matCellDef="let element"> {{element.part_Number}} </td>
        </ng-container>


        <ng-container matColumnDef="select_BufferArea" [sticky]="true">
          <th mat-header-cell *matHeaderCellDef>
            暫存區
            <!--<mat-checkbox (change)="$event ? masterToggle_BufferArea() : null"
                          [checked]="selection_BufferArea.hasValue() && isAllSelected_BufferArea()"
                          [indeterminate]="selection_BufferArea.hasValue() && !isAllSelected_BufferArea()">
            </mat-checkbox>-->
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection_BufferArea.toggle(row) : null"
                          (change)="changeBufferArea(row)"
                          [checked]="row.is_Buffer_Area">
            </mat-checkbox>
          </td>
        </ng-container>


        <ng-container matColumnDef="BoxingName">
          <th mat-header-cell *matHeaderCellDef> 箱名 </th>
          <td mat-cell *matCellDef="let element"> {{element.boxing_Series}} </td>
        </ng-container>

        <ng-container matColumnDef="BoxingSerial">
          <th mat-header-cell *matHeaderCellDef> 箱號 </th>
          <td mat-cell *matCellDef="let element">
            <!--<mat-form-field floatLabel="never">-->
            <input min="1" max="99999"
                   type="number"
                   matInput [value]="element.boxing_Serial"
                   [(ngModel)]="element.boxing_Serial"
                   (change)="changeSerial(element.boxing_Location_Id, element.boxing_Series, element.boxing_Serial, element.is_Buffer_Area, element.serial_No)">
            <!--</mat-form-field>-->
          </td>
        </ng-container>

        <ng-container matColumnDef="StackLevel">
          <th mat-header-cell *matHeaderCellDef> 第幾層 </th>
          <td mat-cell *matCellDef="let element">
            <!--<mat-form-field floatLabel="never" *ngIf="inputActiveNo == '1';else fix_stack_level">-->
            <input type="number" min="1" max="5"
                   matInput [value]="element.turtle_Level"
                   [(ngModel)]="element.turtle_Level"
                   (change)="unifyStackLevel(element.turtle_Level, element.boxing_Location_Id, element.boxing_Series, element.boxing_Serial, element.serial_No)">
            <!--</mat-form-field>-->

          </td>
        </ng-container>

        <ng-container matColumnDef="Model">
          <th mat-header-cell *matHeaderCellDef> 機種 </th>
          <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>

        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> 品規 </th>
          <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
        </ng-container>

        <ng-container matColumnDef="InStockDate">
          <th mat-header-cell *matHeaderCellDef> 入庫日期 </th>
          <td mat-cell *matCellDef="let element"> {{element.insDate}} </td>
        </ng-container>

        <ng-container matColumnDef="Location">
          <th mat-header-cell *matHeaderCellDef> 地點 </th>
          <td mat-cell *matCellDef="let element"> {{element.boxing_Location_Cn}} </td>
        </ng-container>

        <ng-container matColumnDef="BoxingOption">
          <th mat-header-cell *matHeaderCellDef> 選項 </th>
          <td mat-cell *matCellDef="let element"> {{element.boxing_Option_Cn}} </td>
        </ng-container>

        <ng-container matColumnDef="Operator">
          <th mat-header-cell *matHeaderCellDef> 操作者 </th>
          <td mat-cell *matCellDef="let element"> {{element.operator}} </td>
        </ng-container>

        <ng-container matColumnDef="OperateTime">
          <th mat-header-cell *matHeaderCellDef> 操作日期 </th>
          <td mat-cell *matCellDef="let element"> {{element.operateTime}} </td>
        </ng-container>

        <!--<ng-container matColumnDef="SSN">
    <th mat-header-cell *matHeaderCellDef> SSN </th>
    <td mat-cell *matCellDef="let element"> {{element.ssn}} </td>
  </ng-container>-->

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

        <tr [ngClass]="{'make-lightblue': i == lastRow, 'make-green': i == lastRow && isFullBox == true}" mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</div>

<span style="font-size: 2em; padding: 0.5em;" [ngClass]="{blink:isBlink}"> {{alarmMsg}}</span>

<div class="modal-footer">

  <button style="width:100%" type="button" class="btn btn-primary" (click)="exportTempData()">輸出Excel</button>

  <button style="width:100%" type="button" class="btn btn-primary" (click)="saveChange()">儲存(刪除)變更</button>

  <button style="width:100%" type="button" class="btn btn-primary" onclick="window.close();">關閉</button>

</div>

<app-loader [loader]="isLoading"></app-loader>







