<body>
  <header class="main-header">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
      <!--<div class="container">-->
      <section class="logo-eip">
        <div class="logo">
          <a class="logo-text">
            <span style="font-size: 25px; font-weight: bold;">MBM</span>
            <span>_v1.9.2</span>
            <span style="margin-left: 10px; font-size:10px;">Layout-CAE</span>
          </a>
        </div>
      </section>
      <!--</div>-->
    </nav>
  </header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</body>



